.wrap{
    width: 1000px;
    margin: 0 auto;
    min-height: 200px;
    background-color: #eee;
    text-align: center;
    p{
        font-size: 16px;
    }
}
header,footer{
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #eaeaea;
}
