@charset "UTF-8";
/* ==========================================================================
    Component: Base
    Author: Eilvein(eilvein.com)
 ============================================================================ */
/**
 * Fix the flawed CSS box model - Yes, IE6's box model is better
 * Browser support: IE8+
 * via: http://paulirish.com/2012/box-sizing-border-box-ftw/
 */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* Custom Base
   ========================================================================== */
/**
 * 1. set base font-size to 10px (16px * 62.5), 1rem = 10px
 *
 */
html {
  /*font-size: 62.5%;*/
  /* 1 */
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  position: relative;
  background: #FFF;
  color: #333;
  font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  font-size: 1.2rem; }

/**
 * 1. http://usabilitypost.com/2012/11/15/w-optimizelegibility-on-mobile-devices/
 * 2. http://maxvoltar.com/archive/-webkit-font-smoothing
 * NOTE: http://usabilitypost.com/2012/11/05/stop-fixing-font-smoothing/
 * 3. http://maximilianhoffmann.com/posts/better-font-rendering-on-osx
 *    http://jaydenseric.com/blog/css-font-smoothing-for-firefox-mac
 */
body,
input,
textarea,
select,
button {
  text-rendering: optimizeLegibility;
  /* 1 */
  -webkit-font-smoothing: antialiased;
  /* 2 */
  -moz-osx-font-smoothing: grayscale;
  /* 3 Default: auto */
  -moz-font-feature-settings: "liga", "kern"; }

/**
 * links
 */
a {
  color: #333;
  text-decoration: none; }

a:hover,
a:focus {
  color: #333; }

a:focus {
  outline: thin dotted;
  outline: 1px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

/**
 * images
 */
img {
  max-width: 100%;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

/* clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* 常用定义
   ========================================================================== */
blockquote, body, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-size: 100%; }

h1, .h1 {
  font-size: 36px; }

h2, .h2 {
  font-size: 30px; }

h3, .h3 {
  font-size: 24px; }

h4, .h4 {
  font-size: 18px; }

h5, .h5 {
  font-size: 14px; }

h6, .h6 {
  font-size: 12px; }

/* Ordered and unordered lists */
ul,
ol {
  list-style: none; }

/* iframe */
iframe {
  border: 0; }

::-webkit-input-placeholder {
  color: #999; }

:-moz-placeholder {
  color: #999; }

::-moz-placeholder {
  color: #999; }

:-ms-input-placeholder {
  color: #999; }

/*左右浮动*/
.rb-right {
  float: right; }

.rb-left {
  float: left; }

/*显示隐藏*/
.rb-hide {
  display: none; }

.rb-show {
  display: block; }

.rb-invisible {
  visibility: hidden; }

.rb-affix {
  position: fixed;
  top: 0;
  left: 0; }

/*省略号*/
.rb-ellipsis {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block; }

/*内联块*/
.rb-inb {
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *zoom: 1; }

/*强制文本换行*/
.rb-break-word {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all; }

.rb-blank {
  margin-bottom: 1rem; }

.rb-radius {
  border-radius: 5px; }

.rb-scrollable-horizontal {
  overflow: hidden;
  overflow-x: auto;
  width: 100%; }

.rb-justify {
  width: 100%;
  text-align: justify; }

html, body {
  position: relative;
  width: 100%; }

body {
  background: #F7F7F7;
  font-size: 12px; }
  [data-dpr="2"] body {
    font-size: 24px; }
  [data-dpr="3"] body {
    font-size: 36px; }

/**
 * @description:_issue.scss
 * @author:lixinwei
 * @version:V1.0.0
 * @update:16/3/16
 */
.rb-wrapper {
  min-width: 320px;
  max-width: 10rem;
  margin: 0 auto; }

.ui-header {
  height: 1.17333rem;
  line-height: 1.17333rem;
  position: relative;
  border-bottom: 1px solid #ECEDEE;
  background: #fff; }
  .ui-header h1 {
    text-align: center;
    font-weight: normal;
    font-size: 17px; }
    [data-dpr="2"] .ui-header h1 {
      font-size: 34px; }
    [data-dpr="3"] .ui-header h1 {
      font-size: 51px; }
  .ui-header .ui-icon-return {
    background: url("../img/back.png") no-repeat;
    display: block;
    width: 0.54667rem;
    height: 0.54667rem;
    position: absolute;
    left: 0.4rem;
    top: 0.26667rem;
    cursor: pointer;
    -webkit-background-size: contain;
    background-size: contain; }

.main-nav {
  padding: 2.77333rem 0.78667rem; }
  .main-nav ul {
    overflow: hidden; }
  .main-nav li {
    float: left;
    text-align: center;
    margin: 0 0.73333rem 0.93333rem; }
    .main-nav li a {
      display: block;
      color: #9b9b9b;
      font-size: 17px; }
      [data-dpr="2"] .main-nav li a {
        font-size: 34px; }
      [data-dpr="3"] .main-nav li a {
        font-size: 51px; }
    .main-nav li i {
      display: block;
      width: 2.74667rem;
      height: 2.70667rem;
      margin-bottom: 0.32rem; }
    .main-nav li:nth-child(1) i {
      background: url("../img/setting_icon.png") no-repeat;
      -webkit-background-size: contain;
      background-size: contain; }
    .main-nav li:nth-child(2) i {
      background: url("../img/playroobo_icon.png") no-repeat;
      -webkit-background-size: contain;
      background-size: contain; }
    .main-nav li:nth-child(3) i {
      background: url("../img/playapp_icon.png") no-repeat;
      -webkit-background-size: contain;
      background-size: contain; }
    .main-nav li:nth-child(4) i {
      background: url("../img/issue_icon.png") no-repeat;
      -webkit-background-size: contain;
      background-size: contain; }

.rb-content {
  margin-top: 0.4rem;
  border-top: 1px solid #F3F3F3;
  background: #fff;
  overflow: hidden; }
  .rb-content .ui-selector-hd:last-of-type {
    border-bottom: none; }

.ui-selector-hd {
  height: 1.33333rem;
  line-height: 1.33333rem;
  color: #9b9b9b;
  font-weight: normal;
  position: relative;
  padding-left: 0.82667rem;
  cursor: pointer;
  margin: 0 0.4rem;
  border-bottom: 1px #EBEBEB solid;
  font-size: 17px; }
  [data-dpr="2"] .ui-selector-hd {
    font-size: 34px; }
  [data-dpr="3"] .ui-selector-hd {
    font-size: 51px; }
  .ui-selector-hd:before {
    content: " ";
    position: absolute;
    display: block;
    overflow: hidden;
    width: 0.4rem;
    height: 0.22667rem;
    background: url("../img/down.png") no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    top: 0.56rem;
    right: 0.4rem; }
  .ui-selector-hd.active {
    border-bottom: none; }
    .ui-selector-hd.active:before {
      background: url("../img/up.png") no-repeat;
      -webkit-background-size: contain;
      background-size: contain; }
  .ui-selector-hd .msg-icon,
  .ui-selector-hd .skill-icon,
  .ui-selector-hd .request-icon,
  .ui-selector-hd .act-icon,
  .ui-selector-hd .voide-icon,
  .ui-selector-hd .teach-icon,
  .ui-selector-hd .volume-icon,
  .ui-selector-hd .home-icon,
  .ui-selector-hd .wifi-icon,
  .ui-selector-hd .start-icon,
  .ui-selector-hd .photo-icon,
  .ui-selector-hd .binding-icon {
    height: 0.56rem;
    width: 0.56rem;
    overflow: hidden;
    display: block;
    position: absolute;
    left: 0;
    top: 0.38667rem; }
  .ui-selector-hd .msg-icon {
    background: url("../img/msg_icon.png") no-repeat;
    -webkit-background-size: contain;
    background-size: contain; }
  .ui-selector-hd .skill-icon {
    background: url("../img/skill_icon.png") no-repeat;
    -webkit-background-size: contain;
    background-size: contain; }
  .ui-selector-hd .request-icon {
    background: url("../img/request_icon.png") no-repeat;
    -webkit-background-size: contain;
    background-size: contain; }
  .ui-selector-hd .act-icon {
    background: url("../img/act_icon.png") no-repeat;
    -webkit-background-size: contain;
    background-size: contain; }
  .ui-selector-hd .voide-icon {
    background: url("../img/voide_icon.png") no-repeat;
    -webkit-background-size: contain;
    background-size: contain; }
  .ui-selector-hd .teach-icon {
    background: url("../img/teach_icon.png") no-repeat;
    -webkit-background-size: contain;
    background-size: contain; }
  .ui-selector-hd .volume-icon {
    background: url("../img/volume_icon.png") no-repeat;
    -webkit-background-size: contain;
    background-size: contain; }
  .ui-selector-hd .home-icon {
    background: url("../img/home_icon.png") no-repeat;
    -webkit-background-size: contain;
    background-size: contain; }
  .ui-selector-hd .binding-icon {
    background: url("../img/binding_icon.png") no-repeat;
    -webkit-background-size: contain;
    background-size: contain; }
  .ui-selector-hd .wifi-icon {
    background: url("../img/wifi_icon.png") no-repeat;
    -webkit-background-size: contain;
    background-size: contain; }
  .ui-selector-hd .start-icon {
    background: url("../img/start_icon.png") no-repeat;
    -webkit-background-size: contain;
    background-size: contain; }
  .ui-selector-hd .photo-icon {
    background: url("../img/photo_icon.png") no-repeat;
    -webkit-background-size: contain;
    background-size: contain; }

.ui-selector-bd {
  background: #F7F7F7;
  padding: 0.93333rem 1.2rem 0.06667rem;
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB; }
  .ui-selector-bd h4 {
    color: #3f3e3f;
    font-weight: normal;
    position: relative;
    margin-bottom: 0.4rem;
    padding-left: 0.29333rem;
    line-height: 0.56rem;
    font-size: 14px; }
    [data-dpr="2"] .ui-selector-bd h4 {
      font-size: 28px; }
    [data-dpr="3"] .ui-selector-bd h4 {
      font-size: 42px; }
    .ui-selector-bd h4:before {
      content: "";
      background: #7f7f7f;
      display: block;
      height: 0.16rem;
      width: 0.16rem;
      border-radius: 0.16rem;
      position: absolute;
      left: 0;
      top: 0.2rem; }
  .ui-selector-bd p {
    color: #848484;
    margin-bottom: 0.93333rem;
    font-size: 13px; }
    [data-dpr="2"] .ui-selector-bd p {
      font-size: 26px; }
    [data-dpr="3"] .ui-selector-bd p {
      font-size: 39px; }
    .ui-selector-bd p.other-sty {
      color: #3f3e3f;
      margin-bottom: 0.66667rem; }

.conts-img {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  display: -webkit-box;
  width: 100%;
  padding-bottom: 0.93333rem;
  margin: 0 -0.24rem; }
  .conts-img li {
    -webkit-box-flex: 1;
    width: 100%;
    padding: 0 0.24rem;
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center; }
  .conts-img.img-two {
    width: 68.667%;
    margin: 0 auto; }

.rb-tel {
  line-height: 1.33333rem;
  height: 1.33333rem;
  background: #fff;
  border-bottom: 1px #EBEBEB solid;
  border-top: 1px #EBEBEB solid;
  color: #878787;
  padding-left: 0.4rem;
  margin-top: 0.8rem;
  font-size: 14px; }
  [data-dpr="2"] .rb-tel {
    font-size: 28px; }
  [data-dpr="3"] .rb-tel {
    font-size: 42px; }
  .rb-tel span {
    display: inline-block;
    margin-left: 0.4rem; }
  .rb-tel a {
    color: #4A90E2; }

.ui-selector-bd .img-box {
  margin-bottom: 0.4rem;
  text-align: center; }
  .ui-selector-bd .img-box.img-s01 {
    padding: 0 10% 0 30%;
    margin-bottom: 0.93333rem; }
  .ui-selector-bd .img-box.img-s03 {
    padding: 0 28%;
    margin-bottom: 0.93333rem; }

.ui-selector-bd .img-intro {
  text-align: center;
  color: #57c4ef;
  font-size: 8px; }
  [data-dpr="2"] .ui-selector-bd .img-intro {
    font-size: 16px; }
  [data-dpr="3"] .ui-selector-bd .img-intro {
    font-size: 24px; }

.overlay {
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: none;
  text-align: center; }
  .overlay img {
    position: absolute;
    width: 80%;
    left: 50%;
    top: 5%;
    margin-left: -40%; }

/*# sourceMappingURL=maps/app.css.map */